
body {
  background-color: black;
  color: white;
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  background-color: darkcyan;
 display: flex;
 flex-direction: column;
  padding: 5px;
}
