body {
  background-color: black;
  color: white;
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  background-color: darkcyan;
 display: flex;
 flex-direction: column;
  padding: 5px;
}

.item-text {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

button {
  background-color: darkblue;
  border: slate;
  color: white;
}

